# Fichier nécéssaire sur un serveur apache pour que toutes les requetes http soient bien redirigées sur le controleur frontal 'index.php'.

# Vérification que le module de ré-écriture d'URL fonctionne
<IfModule mod_rewrite.c>

    # Désactivation de la négociation des contenus
    Options -Multiviews

    # Activation de la ré-écriture d'URL
    RewriteEngine On

    #Conditions qui vont empecher la redirection sur index.php si l'URL demandée pointe sur un dossier ou fichier existant
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    # Redirection de toutes les requetes sur index.php
    RewriteRule ^ index.php [QSA,L]

</IfModule>